<!DOCTYPE html>
<html itemscope="false" itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#" <%-helmet.htmlAttributes.toString() %>>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%- helmet.title.toString() %>
    <%- helmet.base.toString() %>
    <%- helmet.meta.toString() %>
    <%- helmet.link.toString() %>
    <%- assets.manifest.join('') %>
    <%- assets.css.join('') %>
    <%- helmet.script.toString() %>
    <%- helmet.noscript.toString() %>
  </head>
</html>
<body <%-helmet.bodyAttributes.toString() %>>

  <div id="app"></div>

  <%- helmet.script.toString() %>
  <%- assets.js.join('') %>
</body>
</html>
